/* BASE */ 
@tailwind base;

@layer base {
  html {
    -webkit-font-smoothing: auto;
  }
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: 0;
    @apply mb-2 font-medium;
  }
  h1, .h1 {
    font-size: 2.5rem;
  }
  h2, .h2 {
    font-size: 2rem;
  }
  h3, .h3 {
    font-size: 1.75rem;
  }
  h4, .h4 {
    font-size: 1.5rem;
  }
  h5, .h5 {
    font-size: 1.25rem;
  }
  h6, .h6 {
    font-size: 1rem;
  }
  p {
    margin-top: 0;
  }
  a {
    color: #0d6efd;
    cursor: pointer;
  }
  a:hover {
    color: #0a58ca;
  }
  hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #e8e9ed;
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
  [hidden] {
    display: none !important;
  }
}
/* END BASE */

/* COMPONENTS */
@tailwind components;

/* This won't be included in your compiled CSS unless you actually use it */
@layer components {
  .w-required::after {
    content: "*";
    color: #e92f39;
    vertical-align: top;
    margin-left: 5px;
  }
  
  .line-clamp {
    /* --w-clamp: 3; // OPTION */
    overflow: hidden;
    display: block;
    -webkit-line-clamp: var(--w-clamp);
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  }

  /* Cropper */
  .cropper:active:not(:focus-within)::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 1301;
    cursor: move;
  }
}
/* END COMPONENTS */

/* CUSTOM */
/* This will always be included in your compiled CSS */

.w-input-group .MuiInputBase-root {
  background-color: #e0e0e6;
}

.w-input-group .MuiInputAdornment-root > .MuiTypography-root {
  color: #1a224c;
}

.w-input-group .MuiInputBase-input {
  padding-left: 14px;
  background-color: #fff;
}

.w-input-gray .MuiInputBase-input,
.w-input-gray.w-multiline .MuiInputBase-root {
  background-color: #f4f4f6;
}

/* Select with small arrow */
.w-select-sm .MuiSelect-icon {
  font-size: 1.25rem;
}

.modal-bs .MuiDialogContent-root {
  overflow-y: unset;
}

.modal-bs .MuiDialog-paper {
  overflow-y: unset;
  height: auto;
}
/* END CUSTOM */

/* UTILITIES */
@tailwind utilities;

/* This won't be included in your compiled CSS unless you actually use it */
@layer utilities {
  .border-top {
    border-top: 1px solid #dee2e6;
  }
  .border-bottom {
    border-bottom: 1px solid #dee2e6;
  }
  
}
/* END UTILITIES */

/* RESPONSIVE */

/* FOR Smartphone Landscape & Portrait */
/*
@media (max-width: 767px) {
  
}
*/
